/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*HEADER*/
header {
    font-family: 'Heebo';
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #221f1f;
    padding: 5px 40px 5px 40px;
}
  
.section-logo h1 {
    color: red;
    text-transform: uppercase;
    font-size: 35px;
}
  
header .section-search {
    display: flex;
    align-items: center;
}
  
.section-search i {
    padding-right: 10px;
    color: white;
    font-size: 17px;
}
  
header .section-search input {
    background-color: #221f1f;
    color: lightgray;
    padding: 4px 10px;
    outline: 0;
    border: none;
    border-bottom: 1px solid white;
    font-size: 12px;
}

/*MAIN*/
main {
    background-color: #221f1f;
    min-height: calc(100vh - 62px);
}
.flag img{
    width: 30px;
}
  
