/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Heebo';
}

img {
    height: 300px;
}

/*HEADER*/
.container {
    height: 68px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #221f1f;
    padding: 0px 40px 0px 40px;
    position: fixed;
    z-index: 1;
}
  
.section-logo img {
    height: 50px;
    vertical-align: middle;
}
  
.container .section-search {
    display: flex;
    align-items: center;
}
  
.section-search i {
    padding-right: 10px;
    color: white;
    font-size: 17px;
    cursor: pointer;
}
  
.container .section-search input {
    background-color: #221f1f;
    color: lightgray;
    padding: 4px 10px;
    outline: 0;
    border: none;
    border-bottom: 1px solid white;
    font-size: 12px;
}

.invisible {
    height: 68px;
}

/*MAIN*/

main {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #221f1f;
    min-height: calc(100vh - 68px);
    color: white;
}

h3 {
    padding-left: 40px;
}

.card-container {
    display: flex;
    padding-left: 30px;
    margin-right: 40px;
    overflow-x: auto;
}

.card .flag img{
    height: 15px;
}

.card-back .titolo {
    font-size: 20px;
    margin-bottom: 5px;
}


main .star {
    display: flex;
    color: gold;
}

.card{
    position: relative;
    margin: 10px;
}

.card-back {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    padding: 15px 15px 20px 15px;
    position: absolute;
    height: 98%;
    width: 100%;
    top: 0px;
    opacity: 0;
    transition: opacity 0.6s;
}

.card-back:hover {
    background: rgba(0, 0, 0, .7);
    opacity: 1;
}

.titolo-originale, .flag, .voto, .star{
    margin-bottom: 3px;
}

.card-back .overview {
    overflow-y: auto;
}


